---
layout: default
refactor: true
---

{% include lang.html %}

{% comment %}
<div id="pub-list" class="flex-grow-1 px-xl-1">
  <article class="pub-wrapper pub-entry">
    <div class="pub-title">
      Test article
    </div>
    <div class="pub-author">
      Gaétan J.A.M. Jalin
    </div>
    <div class="pub-content">
      <div class="media-float-left">
        <img src="/img/favicons/mstile-150x150.png" widht="150" height0"150" alt="Boom" />
        <div class="caption">
          This is a nice explosion. Maybe I can say a bit more to see how the layout reacts.
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </article>
</div>
{% endcomment %}

